body{
    margin: 0;
    background-color: rgb(109, 113, 136);
}
#container{
    width: 330px;
    height: 50px;
    background-color: rgb(87, 224, 114);
    display: flex;
    align-items: center;
}
#play-pause-button{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    cursor: pointer; 
    /* ^ changes the mouse to a pointer when mouse hovers over the image */
}
h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 3px;
    /* get rid of text selection ability when in browser v */
    user-select: none;
}
#current-time{
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
#total-time{
    width: 40px;
    padding-left: 10px;
}
#seek-bar{
    width: 160px;
    margin-left: 10px;
}